# Vim swapfiles
*.swp

# Inferno emulator and libraries required for Limbo version, as well
# as compiled Limbo modules
emu  
dis/
*.dis

# Don't ignore step* subdirs for this implementation
!step?_*/
